# Przerabianie plików xml na ramki danych

---

### Import pakietów oraz modułu z naszymi funkcjami do konwersji xml na df

In [25]:
import xml.etree.ElementTree as ET
import numpy as np
import pandas as pd
import xml_convertion_functions as conv

---

### Tworzenie ramek danych - test

In [23]:
BadgesF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Badges.xml")

In [24]:
BadgesF.head()

  Id UserId            Name                     Date Class TagBased
0  1      2  Autobiographer  2011-03-01T18:01:32.093     3    False
1  2      3  Autobiographer  2011-03-01T18:01:32.093     3    False
2  3      4  Autobiographer  2011-03-01T18:01:32.093     3    False
3  4      7  Autobiographer  2011-03-01T18:46:31.990     3    False
4  5      8  Autobiographer  2011-03-01T19:46:31.987     3    False

In [7]:
CommentsF = get_dataframe_from_xml_file("fitness_stackexchange_com/Comments.xml")

In [9]:
CommentsF.head()

,Id,PostId,Score,Text,CreationDate,UserDisplayName,UserId
0,1,5,0,Which style do you practice?,2011-03-01T19:52:17.177,user26,None
1,3,5,0,Combat sambo http://en.wikipedia.org/wiki/Samb...,2011-03-01T19:53:41.817,None,23
2,6,6,17,[Finger push ups](http://www.youtube.com/watch...,2011-03-01T19:59:48.723,None,30
3,11,9,22,BTW congrats on the progress. That first 50 po...,2011-03-01T20:10:11.133,None,22
4,15,38,0,"I have edited my question, to clarify it a lit...",2011-03-01T20:20:04.837,None,23

---

### Tworzenie ramek danych

#### 1) serwis *fitness*

In [26]:
BadgesF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Badges.xml")
CommentsF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Comments.xml")
PostHistoryF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/PostHistory.xml")
PostLinksF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/PostLinks.xml")
PostsF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Posts.xml")
TagsF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Tags.xml")
UsersF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Users.xml")
VotesF = conv.get_dataframe_from_xml_file("fitness_stackexchange_com/Votes.xml")

In [27]:
BadgesF.head()

  Id UserId            Name                     Date Class TagBased
0  1      2  Autobiographer  2011-03-01T18:01:32.093     3    False
1  2      3  Autobiographer  2011-03-01T18:01:32.093     3    False
2  3      4  Autobiographer  2011-03-01T18:01:32.093     3    False
3  4      7  Autobiographer  2011-03-01T18:46:31.990     3    False
4  5      8  Autobiographer  2011-03-01T19:46:31.987     3    False

In [28]:
CommentsF.head()

,Id,PostId,Score,Text,CreationDate,UserDisplayName,UserId
0,1,5,0,Which style do you practice?,2011-03-01T19:52:17.177,user26,None
1,3,5,0,Combat sambo http://en.wikipedia.org/wiki/Samb...,2011-03-01T19:53:41.817,None,23
2,6,6,17,[Finger push ups](http://www.youtube.com/watch...,2011-03-01T19:59:48.723,None,30
3,11,9,22,BTW congrats on the progress. That first 50 po...,2011-03-01T20:10:11.133,None,22
4,15,38,0,"I have edited my question, to clarify it a lit...",2011-03-01T20:20:04.837,None,23

In [29]:
PostHistoryF.head()

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text,UserDisplayName,Comment
0,4,2,2,3ee78f9c-cce1-487c-8a97-c20075a84613,2011-03-01T19:49:22.470,20,What's the difference? I'm looking at shake op...,None,None
1,5,1,2,3ee78f9c-cce1-487c-8a97-c20075a84613,2011-03-01T19:49:22.470,20,Whey isolate vs whey concentrate,None,None
2,6,3,2,3ee78f9c-cce1-487c-8a97-c20075a84613,2011-03-01T19:49:22.470,20,<protein><nutrition>,None,None
3,7,2,3,eccbfc0c-1697-4326-82bc-62a0d3f23d1e,2011-03-01T19:49:25.090,None,"Provided that I'm not hungry, should I eat bre...",user26,None
4,8,1,3,eccbfc0c-1697-4326-82bc-62a0d3f23d1e,2011-03-01T19:49:25.090,None,Breakfast before or after jogging?,user26,None

In [30]:
PostLinksF.head()

     Id             CreationDate PostId RelatedPostId LinkTypeId
0  1161  2011-03-01T22:41:15.837    124           118          1
1  3887  2011-03-02T16:13:45.777    150           270          1
2  5013  2011-03-03T05:49:28.557    277           346          1
3  5814  2011-03-03T17:56:39.673    381           378          1
4  5890  2011-03-03T18:47:15.327    182           293          1

In [31]:
PostsF.head()

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Title,Tags,AnswerCount,CommentCount,FavoriteCount,OwnerDisplayName,LastEditorDisplayName,ClosedDate,ParentId,CommunityOwnedDate
0,2,1,16,2011-03-01T19:49:22.470,17,1914,<p>What's the difference? I'm looking at shake...,20,36,2011-03-01T20:18:52.207,...,What's the difference between Whey Isolate and...,<protein><nutrition>,1,0,1,None,None,None,None,None
1,3,1,39,2011-03-01T19:49:25.090,51,9949,"<p>Provided that I'm not hungry, should I eat ...",None,None,2011-03-11T13:26:24.507,...,Breakfast before or after jogging?,<nutrition><food><jogging>,9,3,12,user26,user26,None,None,None
2,5,1,26,2011-03-01T19:50:04.177,23,2725,<p>I have recently started training martial ar...,23,3941,2012-12-30T21:54:15.873,...,What kind of home exercises are helpful when o...,<exercise><martial-arts><home-exercise>,8,2,3,None,None,None,None,None
3,6,1,363,2011-03-01T19:51:38.393,108,38793,"<p>What exercises are recommended for people, ...",25,1640,2011-08-10T12:51:41.193,...,Exercises for a programmer sitting by the PC a...,<exercise>,27,7,111,None,None,2013-01-02T08:25:26.703,None,None
4,9,1,70,2011-03-01T19:53:41.173,26,23505,<p>I've been overweight most of my life and re...,21,21,2011-03-04T19:37:41.827,...,Lungs on Fire When Running,<running><breathing>,7,8,8,None,None,None,None,None

In [32]:
TagsF.head()

  Id    TagName Count ExcerptPostId WikiPostId
0  1    cutting    22          None       None
1  2       diet   518          3384       3383
2  3    protein   201          7669       7668
3  4  nutrition   320           527        526
4  5    jogging    78          None       None

In [33]:
UsersF.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
0,-1,1,2011-03-01T01:15:13.147,Community,2011-03-01T01:15:13.147,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,983,3136,-1,None
1,2,101,2011-03-01T05:31:40.827,Jin,2013-08-31T13:27:48.830,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,5,3,0,21721,None
2,3,101,2011-03-01T07:39:37.783,Geoff Dalgas,2017-11-10T21:42:50.210,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the Stack Overflow team. Find...,3,0,0,2,https://i.stack.imgur.com/nDllk.png
3,4,101,2011-03-01T11:30:36.757,Nick Craver,2017-03-04T12:42:43.950,https://nickcraver.com/blog/,"Winston-Salem, NC",<p>I am the Architecture Lead for Stack Overfl...,3,2,0,7598,https://i.stack.imgur.com/nGCYr.jpg?s=128&g=1
4,5,315,2011-03-01T17:21:20.163,Robert Cartaino,2018-11-11T21:15:43.527,None,"Palm Bay, FL","<p><a href=""http://blog.stackoverflow.com/2010...",52,8,19,34933,None

In [34]:
VotesF.head()

  Id PostId VoteTypeId             CreationDate UserId BountyAmount
0  1      2          2  2011-03-01T00:00:00.000   None         None
1  2      3          5  2011-03-01T00:00:00.000     34         None
2  3      6          5  2011-03-01T00:00:00.000     34         None
3  4      6          2  2011-03-01T00:00:00.000   None         None
4  5     13          2  2011-03-01T00:00:00.000   None         None

#### 2) serwis *interpersonal*

In [35]:
BadgesI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/Badges.xml")
CommentsI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/Comments.xml")
PostHistoryI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/PostHistory.xml")
PostLinksI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/PostLinks.xml")
PostsI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/Posts.xml")
TagsI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/Tags.xml")
UsersI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/Users.xml")
VotesI = conv.get_dataframe_from_xml_file("interpersonal_stackexchange_com/Votes.xml")

In [36]:
BadgesI.head()

  Id UserId            Name                     Date Class TagBased
0  1     10        Informed  2017-06-27T17:16:45.753     3    False
1  2     16    Precognitive  2017-06-27T17:22:04.333     3    False
2  3      1  Autobiographer  2017-06-27T17:22:04.530     3    False
3  4      2  Autobiographer  2017-06-27T17:22:04.530     3    False
4  5      3  Autobiographer  2017-06-27T17:22:04.530     3    False

In [37]:
CommentsI.head()

,Id,PostId,Score,Text,CreationDate,UserId,UserDisplayName
0,2,1,4,Why you actually avoid him just because of tha...,2017-06-27T17:26:17.723,32,None
1,3,1,1,@GregoryAvery-Weir It's not really something h...,2017-06-27T17:26:44.327,18,None
2,4,1,0,Well in a workspace it might not turn out good...,2017-06-27T17:28:55.677,14,None
3,5,1,3,What's the nature of the relationship? Basical...,2017-06-27T17:29:03.807,16,None
4,19,16,3,You mean sarcasm or irony? Sounds liek you are...,2017-06-27T17:42:15.373,32,None

In [38]:
PostHistoryI.head()

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text,Comment,UserDisplayName
0,1,2,1,7f951342-9f52-498e-9d81-842774e1d2f2,2017-06-27T17:23:39.670,18,Currently as part of my work I come into proxi...,None,None
1,2,1,1,7f951342-9f52-498e-9d81-842774e1d2f2,2017-06-27T17:23:39.670,18,How to deal with avoiding someone I don't like,None,None
2,3,3,1,7f951342-9f52-498e-9d81-842774e1d2f2,2017-06-27T17:23:39.670,18,<difficult-colleagues><work-environment>,None,None
3,4,2,2,4ec3e0b0-b271-4c97-83d2-a06bf37afa79,2017-06-27T17:25:17.937,19,"Yesterday when I came from my office, I just h...",None,None
4,5,1,2,4ec3e0b0-b271-4c97-83d2-a06bf37afa79,2017-06-27T17:25:17.937,19,How to handle the situation when hit on a drun...,None,None

In [39]:
PostLinksI.head()

    Id             CreationDate PostId RelatedPostId LinkTypeId
0    5  2017-06-27T18:00:30.057     36             6          1
1   14  2017-06-27T18:22:28.553     60            14          1
2  110  2017-06-27T22:20:31.507    161            16          1
3  145  2017-06-28T02:21:40.737    170            16          1
4  171  2017-06-28T06:57:36.703    193            11          1

In [40]:
PostsI.head()

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ParentId,ClosedDate,LastEditorDisplayName,OwnerDisplayName,CommunityOwnedDate
0,1,1,15,2017-06-27T17:23:39.670,38,6648,"<p>Currently, as part of my work, I come into ...",18,3062,2017-08-12T21:14:33.793,...,How to deal with avoiding someone I don't like,<work-environment><difficult-people>,6,8,1,None,None,None,None,None
1,2,1,None,2017-06-27T17:25:17.937,13,1732,"<p>Yesterday when I left my office, I bumped i...",19,3062,2017-08-30T01:55:52.877,...,How to handle accidentally bumping into a drun...,<public-issues><conflict-aversion><difficult-p...,7,0,None,None,None,None,None,None
2,3,2,None,2017-06-27T17:28:27.713,20,None,<p>If you get into an altercation with someone...,25,None,None,...,None,None,None,0,None,2,None,None,None,None
3,4,1,202,2017-06-27T17:29:06.940,104,8317,<p>I often face the problem of forgetting the ...,29,345,2017-08-12T05:46:23.590,...,How can I get someone to say their first name ...,<conflict-aversion><acquaintances><india><memo...,14,3,18,None,None,None,None,None
4,5,2,None,2017-06-27T17:29:39.173,11,None,<blockquote>\n <p>Is this the correct approac...,19,None,None,...,None,None,None,0,None,1,None,None,None,None

In [41]:
TagsI.head()

  Id               TagName Count ExcerptPostId WikiPostId
0  1  online-relationships    13           531        530
1  4         public-issues    65           399        398
2  5      work-environment   261           111        110
3  7         friend-groups    59            65         64
4  9                memory     2          None       None

In [42]:
UsersI.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl,WebsiteUrl
0,-1,1,2017-06-26T21:49:21.410,Community,2017-06-26T21:49:21.410,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n<p>I'm ...",0,2231,4082,-1,None,None
1,1,101,2017-06-26T22:16:44.443,Adam Lear,2018-11-25T02:06:59.253,"New York, NY",\n\n<p>Developer at Stack Overflow. Canadian w...,451,0,0,37099,https://i.stack.imgur.com/SMEGn.jpg?s=128&g=1,None
2,2,101,2017-06-27T12:33:29.643,Nick Craver,2018-04-30T14:47:46.147,"Winston-Salem, NC",<p>I am the Architecture Lead for Stack Overfl...,31,0,0,7598,https://i.stack.imgur.com/nGCYr.jpg?s=128&g=1,https://nickcraver.com/blog/
3,3,90,2017-06-27T14:57:50.307,Robert Cartaino,2018-11-27T15:38:21.013,"Palm Bay, FL","<p><a href=""http://blog.stackoverflow.com/2010...",428,10,81,34933,https://www.gravatar.com/avatar/2cf2eee5993f6c...,None
4,4,101,2017-06-27T14:57:52.400,Taryn,2018-09-07T14:13:56.707,Arizona,"<p>developer, techie, nerd.... DBA at Stack Ov...",26,0,0,188123,None,https://tarynpivots.com

In [43]:
VotesI.head()

  Id PostId VoteTypeId             CreationDate UserId BountyAmount
0  1      1          2  2017-06-27T00:00:00.000   None         None
1  2      1          2  2017-06-27T00:00:00.000   None         None
2  3      1          2  2017-06-27T00:00:00.000   None         None
3  4      1          2  2017-06-27T00:00:00.000   None         None
4  5      1          2  2017-06-27T00:00:00.000   None         None

#### 3) serwis *worldbuilding*

In [44]:
BadgesW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/Badges.xml")
CommentsW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/Comments.xml")
PostHistoryW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/PostHistory.xml")
PostLinksW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/PostLinks.xml")
PostsW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/Posts.xml")
TagsW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/Tags.xml")
UsersW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/Users.xml")
VotesW = conv.get_dataframe_from_xml_file("worldbuilding_stackexchange_com/Votes.xml")

In [45]:
BadgesW.head()

  Id UserId            Name                     Date Class TagBased
0  1      2  Autobiographer  2014-09-16T18:13:12.667     3    False
1  2      5  Autobiographer  2014-09-16T18:13:12.667     3    False
2  3      8  Autobiographer  2014-09-16T18:13:12.667     3    False
3  4      3    Precognitive  2014-09-16T18:13:12.713     3    False
4  5     11    Precognitive  2014-09-16T18:13:12.713     3    False

In [46]:
CommentsW.head()

,Id,PostId,Score,Text,CreationDate,UserId,UserDisplayName
0,5,3,10,I feel like this question should also require ...,2014-09-16T18:37:00.430,17,None
1,7,13,0,"I believe, but don't have references handy to ...",2014-09-16T19:04:31.863,29,None
2,8,13,0,"Also, are you concerned with news reporting **...",2014-09-16T19:06:05.700,29,None
3,9,12,0,"True, Harry Potter combines the elements, but ...",2014-09-16T19:13:59.650,28,None
4,10,19,0,I think this would be better on Linguistics.st...,2014-09-16T19:15:27.260,15,None

In [47]:
PostHistoryW.head()

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text,Comment,UserDisplayName
0,1,2,1,2bf56e16-f92f-4403-8242-2b372e54b84f,2014-09-16T18:19:05.860,10,Assume we have an earth-like environment. If ...,None,None
1,2,1,1,2bf56e16-f92f-4403-8242-2b372e54b84f,2014-09-16T18:19:05.860,10,How to survive moutnain environments with a tr...,None,None
2,3,3,1,2bf56e16-f92f-4403-8242-2b372e54b84f,2014-09-16T18:19:05.860,10,<environment>,None,None
3,4,2,2,6aa342ba-cb0d-4029-a605-157fcabe3650,2014-09-16T18:21:10.853,15,Creating an entire world is a daunting prospec...,None,None
4,5,1,2,6aa342ba-cb0d-4029-a605-157fcabe3650,2014-09-16T18:21:10.853,15,How can I break down the task of creating a wo...,None,None

In [48]:
PostLinksW.head()

    Id             CreationDate PostId RelatedPostId LinkTypeId
0   13  2014-09-16T20:50:20.313     58            19          1
1   14  2014-09-16T20:50:46.837     19            58          1
2   35  2014-09-17T02:42:07.660     94            40          1
3   79  2014-09-17T08:53:03.160    142             8          1
4  172  2014-09-17T17:12:21.100    111           103          1

In [49]:
PostsW.head()

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ParentId,ClosedDate,CommunityOwnedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,27,2014-09-16T18:19:05.860,20,1340,<p>Assume we have an Earth-like environment. <...,10,37029,2018-09-16T01:24:46.023,...,How to survive mountain environments with a tr...,<environment><earth-like><climate><mountains><...,4,1,5,None,None,None,None,None
1,2,1,48,2014-09-16T18:21:10.853,125,5013,<p>Creating an entire world is a daunting pros...,15,15059,2015-12-17T17:20:06.870,...,How can I break down the task of creating a wo...,<worldbuilding-process>,11,0,49,None,None,None,None,None
2,3,1,6,2014-09-16T18:28:12.400,108,62377,<p>How many humans are needed in order to sust...,10,28,2014-10-01T03:43:00.973,...,What is the minimum human population necessary...,<society><colonies><humans>,17,9,32,None,None,None,None,None
3,4,2,None,2014-09-16T18:29:58.093,11,None,<p>The human body would adapt and deal with el...,15,None,None,...,None,None,None,0,None,1,None,None,None,None
4,5,1,14,2014-09-16T18:34:55.810,4,161,<p>What one concept/ideology is most important...,10,147,2015-08-05T20:50:52.537,...,Creating order in a settlement,<law>,5,0,1,None,2014-09-17T18:49:44.973,None,None,None

In [50]:
TagsW.head()

  Id      TagName Count ExcerptPostId WikiPostId
0  1  environment   507           448        447
1  4     colonies    37           710        709
2  6          law   186          3573       3572
3  7     altitude     3          4407       4406
4  8    mountains    40          3562       3561

In [51]:
UsersW.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl,WebsiteUrl
0,-1,1,2014-09-16T17:31:47.687,Community,2014-09-16T17:31:47.687,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n<p>I'm ...",0,2565,4218,-1,None,None
1,1,101,2014-09-16T17:52:43.410,Adam Lear,2018-10-28T01:27:45.923,"New York, NY",\n\n<p>Developer at Stack Overflow. Canadian w...,790,3,0,37099,https://i.stack.imgur.com/SMEGn.jpg?s=128&g=1,None
2,2,101,2014-09-16T18:00:13.770,Shog9,2018-11-19T16:23:12.470,"Colorado, United States","<p><a href=""http://meta.stackexchange.com/ques...",31,0,0,620,None,http://shog9.com
3,3,286,2014-09-16T18:00:22.790,rbwhitaker,2018-07-13T20:04:19.967,"Utah, USA",None,16,7,0,559925,https://www.gravatar.com/avatar/29ef52cc733126...,None
4,4,101,2014-09-16T18:00:51.653,Grace Note,2018-10-04T17:17:22.103,6,"<p>""Being an Alice in the world of computing c...",21,9,0,102159,https://i.stack.imgur.com/MN0P1.png,None

In [52]:
VotesW.head()

  Id PostId VoteTypeId             CreationDate UserId BountyAmount
0  1      1          2  2014-09-16T00:00:00.000   None         None
1  2      1          2  2014-09-16T00:00:00.000   None         None
2  3      2          2  2014-09-16T00:00:00.000   None         None
3  4      2          2  2014-09-16T00:00:00.000   None         None
4  5      1         16  2014-09-16T00:00:00.000   None         None

---

---

# Analiza danych

---

---

# Wykresy

---

---